body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    background-color:grey;
    font-family: 'Press Start 2P', cursive;
}

.container{
    height:99vh;
    border:2px solid red;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.gameContainer{
    display:grid;
    grid-template-columns: 170px 170px;
    grid-template-rows: 170px 170px;
    gap:5px;
}

.btn{
    border-radius:10px;
}

.red{
    background-color:red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.pressed{
    box-shadow: 0 3px 4px 0 #ffffff;
    opacity: 0.5;
   
}